# C++ 프로젝트의 일반적인 빌드 결과물
*.o          # Object files
*.a          # Archive files
*.so         # Shared library files
*.dll        # Dynamic link libraries
*.exe        # Executables
a.out        # Default executable name
main         # Common executable name

# macOS 특정 파일
.DS_Store
*.dSYM/      # 디버깅 심볼 파일
*.dSYM       # 디버깅 심볼 파일 (폴더가 아닐 경우)

# VS Code 관련 설정 파일 (개인 설정이므로 공유하지 않는 것이 좋음)
.vscode/launch.json
.vscode/tasks.json

# Build 폴더
build/